<nav class="clearfix">
  <div class="row clearfix">
    <a href="/"><img src="img/logo.png" alt="INK City logo" class="logo"/></a>
    <ul class="main-nav">
      <li><a href="#">About</a></li>
      <li><a href="/browse">Browse</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </div>
</nav>
