/* Colors
    #8e44ad

    #7a3a95

    #555
    #f4f4f4
*/

/* ------ BASIC SETUP ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {outline: none;}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------ REUSABLE COMPONENTS ------ */

.row {
  width: 1140px;
  margin: 0 auto;
}

section{
  padding: 80px 0;
}

/* ------ HEADINGS ------ */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  color: #fff;
  font-size: 250%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 170%;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #8e44ad;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------ Links ------ */
a:link,
a:visited {
  color: #8e44ad;
  text-decoration: none;
  border-bottom: 2px solid #8e44ad;

  transition: border 0.2s;
}
a:hover,
a:active {
  color: #555;
  border-bottom: 2px solid transparent;
}

/* ------- BUTTONS ------ */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #8e44ad;
  border: 1px solid #8e44ad;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #8e44ad;
  color: #8e44ad;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #7a3a95;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #7a3a95;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #7a3a95;
  color: #fff;
}

/* ------ HEADER ------ */

header {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(https://images.unsplash.com/photo-1534367507873-d2d7e24c797f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1534367507873-d2d7e24c797f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.intro-text-box {
  position: absolute;
  width: 30vw;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/* ------ Main Nav ------ */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bootom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #8e44ad;
}

/* ------ Features Section ------ */

.features-description {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  font-size: 103%;
}

.featuresGrid {
  height: 25vh;
  width: 75vw;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 5%;
}

.featuresGrid div {
  text-align: center;
}

.featuresGrid i {
  font-size: 300%;
  display: block;
  color: #8e44ad;
}

.featuresGrid div:last-of-type i {
  display: inline-block;
  font-size: 100%;
  margin-top: 30px;
}

.featuresGrid h3 {
  margin-top: 15px;
}

.featuresGrid div:last-of-type h3 {
  margin-top: 25px;
}

.featuresGrid p {
  line-height: 145%;
  font-size: 90%;
}

/* ------ Image Grid ------ */

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 0;
}

.imageGrid figure {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.imageGrid img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.imageGrid img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.gridItem1 {
  height: 30vh;
  grid-row: 1/2;
  grid-column: 1/2;
}

.gridItem2 {
  height: 30vh;
  grid-row: 1/2;
  grid-column: 2/3;
}

.gridItem3 {
  height: 60vh;
  grid-row: 1/3;
  grid-column: 3/4;
}

.gridItem4 {
  height: 30vh;
  grid-row: 2/3;
  grid-column: 1/3;
}

.gridItem4 img {
  object-fit: cover;
  object-position: center;
}

/* ------ How It Works Section ------ */

.section-how {
  background-color: #f4f4f4;
}

.section-how img {
  height: 30vh;
  width: 30vw;
  object-fit: scale-down;
  margin-top: 30px;
}

.howGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.step {
  margin-bottom: 50px;
}

.step p {
  padding-top: 0;
}

.step:first-of-type p {
  padding-top: 13px;
}

.step div {
  color: #8e44ad;
  font-size: 150%;
  height: 60px;
  width: 60px;
  border: 2px solid #8e44ad;
  border-radius: 50%;
  text-align: center;
  float: left;
  padding: 7px;
  display: inline-block;
  margin-right: 25px;
}

.app-icon img {
  height: 50px;
  width: auto;
  float: left;
}

.app-icon:last-of-type img {
  height: 70px;
  margin-top: 20px;
}

/* ------ Conventions Section ------ */

.cityGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cityText {
  padding-left: 0%;
}

.city {
  margin-right: 5%;
}

.city h3 {
  text-align: center;
}

.city img {
  height: auto;
  width: 100%;
  object-fit: scale-down;
  margin-bottom: 5%;
}

.city div {
  margin-bottom: 5%;
}

.city div:last-of-type {
  color: #8e44ad;
}

.city i {
  margin-right: 5%;
  color: #8e44ad;
}

/* Resizing first image */
.city:first-of-type img {
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1, 1.11);
  margin-top: 3.2%;
  margin-bottom: 9%;
}

/* ------ Testimonials Section ------ */

.testimonialSection {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/testimonialBg.jpg);

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/testimonialBg.jpg);

  background-attachment: fixed;
  background-size: cover;
  background-position: top;

  color: #fff;
}

.testimonialGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
  background-position: top;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 140%;
  position: relative;
  margin-top: 10%;
}

blockquote:before {
  /* Special character or glyph created using the code inside content */
  content: "\201C";
  display: block;
  font-size: 400%;

  /* move it around - pos abs & set partent el as pos: rel*/
  position: absolute;
  top: -5px;
  left: -3px;
}

cite {
  margin-top: 25px;
  font-size: 90%;

  /* this element will have it's own line */
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  /* align text with img */
  vertical-align: middle;
}

/* ------ Sign up Section ------ */

.signUpSection {
  background-color: #f4f4f4;
}

.signUpGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.signItem {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5;
  /* x axis, y axis, blur, color */
  box-shadow: 0 3px 2px rgb(235, 235, 235);
}

.plan-box {
  background-color: rgb(253, 253, 253);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.signItem div {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}


.plan-price {
  font-size: 300%;
  font-weight: 200;
  margin-bottom: 10px;
  color: #8e44ad;
}

.plan-price-person {
  font-size: 80%;
}

.plan-price span {
  font-size: 30%;
  vertical-align: middle;
}

.details-box ul {
  list-style: none;
}

.details-box ul li {
  padding: 5px 0;
}

.signItem div:last-child {
  text-align: center;
  border-bottom: none;
}

/* ------ Feedback Section ------ */

.sectionForm {
  padding-bottom: 160px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10%;

  margin: 0 auto;
  width: 60%;
  text-align: left;
}

input[type=text],
input[type=email],
select,
textarea {
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

#submitButton {
  display: inline-block;
  justify-self: center;
}

/* ------ Footer Section ------ */

footer {
  background-color: rgb(63, 63, 63);
  padding: 40px;
  font-size: 80%;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 140%;
}

.fa-facebook-f,
.fa-instagram,
.fa-twitter {
  transition: color 0.2s;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #517fa4;
}

.fa-twitter:hover {
  color: #00aced;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: rgb(150, 150, 150);
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 25px;
}
