/* Colors
    #8e44ad

    #7a3a95

    #555
    #f4f4f4
*/
/* ------ REUSABLE COMPONENTS ------ */


/* ------ BASIC SETUP ------ */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  
  html,
  body {
    background-color: #fff;
    color: #555;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    /* prevent divs with white space extendeing from showing */
    overflow-x: hidden;
  }
  
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }


  .row {
    width: 1140px;
    margin: 0 auto;
  }
  
  section {
    padding: 80px 0;
  }
  
  #navPaddingSection {
    padding: 0 0 70px 0;
  }
  

  /* ------ Alert Messages ------ */
  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

  
  /* ------ HEADINGS ------ */
  
  h1,
  h2,
  h3 {
    font-weight: 300;
    text-transform: uppercase;
  }
  
  h1 {
    color: #fff;
    font-size: 250%;
    word-spacing: 4px;
    letter-spacing: 1px;
  }
  
  h2 {
    font-size: 170%;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  
  h2:after {
    display: block;
    height: 2px;
    background-color: #8e44ad;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  h3 {
    font-size: 110%;
    margin-bottom: 15px;
  }
  
  /* ------ Links ------ */
  a:link,
  a:visited {
    color: #8e44ad;
    text-decoration: none;
    border-bottom: 2px solid #8e44ad;
  
    -webkit-transition: border 0.2s;
  
    transition: border 0.2s;
  }

  .j-overlay a:link,
  .jay-overlay a:visited {
    border-bottom: none;
  }

  a:hover,
  a:active {
    color: #555;
    border-bottom: 2px solid transparent;
  }

  /* ------ Main Nav------ */

  .wrapper {
    overflow: hidden;
  }
  .logo {
    height: 75px;
    width: auto;
    float: left;
    margin: 15px 0;
    margin-left: 2%;
  }

  nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    -webkit-transition: 1s;
    transition: 1s;
  }

  nav ul {
    list-style: none;
    overflow:  hidden;
    padding: 0;
    margin: 0;
    margin-right: 100px;
    text-align: center;
    height: 100px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  nav.black {
    background: #000;
  }

  nav ul li {
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 20px;
  }

  nav li a:link,
  nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  nav li a:hover,
  nav li a:active {
    border-bottom: 2px solid #8e44ad;
  }

  .menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
  }


  /* ------- BUTTONS ------ */
  
  .btn:link,
  .btn:visited,
  input[type="submit"]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
  }
  
  .btn-full:link,
  .btn-full:visited,
  input[type="submit"]{
    background-color: #8e44ad;
    border: 1px solid #8e44ad;
    color: #fff;
    margin-right: 15px;
  }
  
  .btn-ghost:link,
  .btn-ghost:visited {
    border: 1px solid #8e44ad;
    color: #8e44ad;
  }
  
  .btn:hover,
  .btn:active,
  input[type="submit"]:hover,
  input[type="submit"]:active {
    background-color: #7a3a95;
  }
  
  .btn-full:hover,
  .btn-full:active {
    border: 1px solid #7a3a95;
  }
  
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1px solid #7a3a95;
    color: #fff;
  }
  
/* Styling for navbar transition */
  @media(max-width: 580px) {
    .logo {
        position: fixed;
        top: 0;
        height: 30px;
        margin-top: 10px;
    }

    nav ul {
      min-height: 0px;
      max-height: 0px;
      background: #000;
      margin-right: 0;
    }

    nav.black ul {
      background: #000;
      
    }

    .showing {
      min-height: 100vh;
      max-height: 100vh;
    }

    nav ul li {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      padding: 0;
      padding-bottom: 10px;
      text-align: center;
    }

    .menu-icon {
      display: block;
    }
  }